.footer-section{
  background-color: black;
  line-height:2em;
  padding-top:2em;
}

.imagelogo{
  height:4em;
  width:auto;
  margin-bottom: 1em;
}

.smallDescription{
  font-size:12px;
  line-height:3em;
}

.small{
  font-size:12px;
  line-height:2em;
}
.thisone2{
  width:100%;
}
.days, .times{
  width:50%;
}


.horizontal{
  color:grey;
}

li{
  list-style-type: none;
}

.icon{
  display: inline-block;
  padding-right: 1em;
}

/* // Small devices Portrait */
@media (max-width: 575.98px) {
  .kairosWatch{
    display:none;
  }
  
  .hoursOperations{
   width:100%;
   padding: 0px;
   
  }

  
  .days, .times{
    width:40%;
  }

   .times{
    padding-left:1rem;
   }

  .small{
    font-size:10px;
  }

  /* about */
  .smallDescription{
    padding-top: 1.5em;
    line-height:2em;
    font-size:10px;
  }


}