.watchSize{    
 opacity: 0.9;
 height:60vh;
}

h5{

  font-weight: bolder;
  font-size:3rem;
}
.subcaps>p{
  font-size:2rem;
}

.subcaps{
  background-color: rgba(255,255,255,.7);
  color:red;
  text-transform: uppercase;
  letter-spacing: .2em;
  position:absolute;
  top:220px;
  height:25vh;
}

.carousel-indicators [data-bs-target] {
  background-color:red;
}