.navbar.navbar-expand-lg{
  background-color:#0E0909;
}
.navbar-brand{
  color:#AFA4A4;
  font-size:32px;
}

.navbar-toggler{
  background-color:white;
}

a.nav-link{
  color:grey;
  font-size:24px;
}

.btn{
  background-color:#DDD74C ;
  color:#4E773A ;
}

/* 4E773A
DDD74C */

