.navbar.navbar-expand-lg{
  background-color:#0E0909;
}
.navbar-brand{
  color:#AFA4A4;
  font-size:32px;
  letter-spacing:.20em;
}

.navbar-toggler{
  background-color:white;
}

a.nav-link{
  color:#AFA4A4;
  font-size:24px;
  letter-spacing:.20em;
}

a.nav-link:hover{
  color:#AFA4A4;
  border-bottom:2px solid #DDD74C;
}

.navbar-brand:hover{
  color: #DDD74C;
}

.nav-item{
  padding: 0px 1em;
}

.btn{
  background-color:#DDD74C ;
  color:#4E773A ;
}

/* 4E773A
DDD74C */

