.navbar.navbar-expand-lg{
  background-color:#0b0707;
}

.navbar-brand{ 
  color:white;
  font-size:32px;
  letter-spacing:.20em;
}

.nav-link:hover{
  color:black;
}

.navbar-toggler{
  background-color:white;
}

.nav-link{
  padding-top:6px;
  text-decoration: none;
  color:black;
  font-size:22px;
  letter-spacing:.20em;
}

.nav-link:visited{
  color:black;
}

/* .subNav{
  background-color:rgba(65, 92, 51, 0.6);
} */

.navbar-brand:hover{
  color:white;
}

.nav-item{
  padding: 0px 1em;
}

.btn{
  background-color:#4E773A ;
  color:black;
}

.dropdown-item{
  font-weight:bold;
}

/* .imageLogo{
  height:1em;
  width:auto;
} */

/* // Small devices Portrait */
  @media (max-width: 575.98px) { 
  a.navbar-brand{
    margin:0px auto;
    font-size:42px;
  }
  .subNav{
    display: block;
  }
  a.nav-link{
    display: flex;
    justify-content:center;
    padding:.5em;
  }
  a.nav-link:hover{
   background-color: rgba(245,245,220,.8);
  }
  .dropdown-toggle::after{
    margin-top:.5em;
  }
  .dropdown-menu{
    min-width:100%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }